body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
  background-color: #f1f1f1;
}

.footer {
  background-color: #f1f1f1;
}

.dark-mode {
  background-color: #232323;
  color: #ffffff;
}

.dark-mode .footer {
  background-color: #292929;
  color: #ffffff;
}

.dark-mode .navbar {
  background-color: #292929;
}

.dark-mode .navbar .nav-link,
.dark-mode .navbar .navbar-brand {
  color: #ffffff !important;
}

.dark-mode .navbar .nav-item .nav-link {
  color: #ffffff !important;
}

.dark-mode .card {
  background-color: #292929;
  color: #ffffff;
  border-color: white;
}

.dark-mode .card-text {
  color: #292929;
}

.skills-container {
  animation: moveSkills 20s linear infinite;
}

@keyframes moveSkills {
  0% {
      transform: translateX(100%);
  }
  100% {
      transform: translateX(-100%);
  }
}